body{
  width: 70%;
  margin: auto;
}
#about>h3, h2, #contact h3 , #contact .contacts dl dt , #contact .contacts dl dd{
  display: none;
}  
.contacts .contact-email , .contacts .contact-phone ,.contacts .contact-github ,.contacts .contact-facebook {
  width: 50px;
  height: 50px;
  background-size: cover;
  margin-right: 10px;
}
.contacts{
  display: flex;
  justify-content: center;
  align-items: center;

}
.contacts .contact-email{
  background-image: url('../images/email.png');

}
.contacts .contact-phone{
  background-image: url('../images/phone.png');
}

.contacts .contact-github{
  background-image: url('../images/github.png');
}
.contacts .contact-facebook{
  background-image: url('../images/facebook.png');
}
#about p{
  position: relative;
  display: flex;
  opacity: 0.5;
bottom: 10px;
  width: 50%;
  margin-bottom: 10%;
}
hgroup{
  padding-bottom: 10px;
  border-bottom: 1px solid lightblue;
}
figure{
  position: absolute;
  left: 1300px;
  top: -0.5px;
  width: 280px;
  transform: rotate(-20deg);
}
img{
  width: 150px;
  height:150px;
}
#competencies, #experiences, #education, #hobbies{
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 50% 50%;
  margin-bottom: 30px;
}
h3{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-right:50px
}
.skills-primary.skill{
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.skills-secondary{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.experience, .skills-primary, .skills-secondary{
  padding-left:10px;
  border-left: 1px solid gray;

}
#experience:first-child{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  
}
.experience:last-child{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.skills-primary, .skills-secondary{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#competencies .skills .skill span{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 150px;
}
.skill{
  background-color: rgb(21, 85, 82);
  border: 1px solid rgb(21, 85, 82);
  color:white;
  margin: 10px;
  padding:1% 6%;
}
ul{
  margin-left:3px;
  border-left:1px solid gray;
}
.experience-details{
 text-align: right;
 color:lightgray;
}
.experience-date-separator, h4{
  color:rgb(21, 85, 82);
}
.experience-details{
  position: relative;
  bottom:45px;
  right: 0;
}
.contact-email {
  background-image: url(../images/email.png);
  position: relative;
}

.contact-phone {
  background-image: url(../images/phone.png);
  position: relative;
}

.contact-github {
  background-image: url(../images/github.png);
  position: relative;
}

.contact-facebook {
  background-image: url(../images/facebook.png);
  position: relative;
}
.content #competencies .skill[data-skill="5"] span::after{
  content: "✭✭✭";
}
.content #competencies .skill[data-skill="3"] span::after{
  content: "✭✭";
}
.content #competencies .skill[data-skill="1"] span::after{
  content: "✭";
}
.content #competencies .skill[data-skill="9"] span::after{
  content: "✭✭✭✭";
}
.content #competencies .skill[data-skill="7"] span::after{
  content: "✭✭✭✭";
}
@media only screen and (max-width: 710px) {
  /* For mobile phones: */
  body{
      width: 100%;
  }
  hgroup{
      margin-left: 15px;
  }
  #about> p{
      width: 90%;
      margin-left:20px;
  }
  figure, .experience-institution{
      display: none;
  }
  .experience, .skills-primary, .skills-secondary, ul{
      border: none;
  }
  .skills-primary, .skills-secondary{
      position: relative;
      width: min-content;
      height: 19%;
      top:40px;
      padding-bottom: 30px;
      padding-top: 15px;
      margin-left:4px;
      margin-right: 4px;
      left:5px;
      right:10px;
  }
  #competencies> div{
      width: max-content;
      height: max-content;
  }
  h3{
      position: relative;
      margin-bottom: 10px;
      padding-bottom: 14px;
      text-decoration: underline;
      left: 19px;
      font-size: 18px;
  }
  #experience:first-child, #experience:last-child, h4{
      text-align: center;
      position: relative;
      padding-top: 14px;
      padding-bottom: 15px;
      top: 30px;
      right: 145px;
      
  }
  .skill{
      background-color: rgb(21, 85, 82);
      border: 1px solid rgb(21, 85, 82);
      color: white;
      margin: 3px;
      padding: 1% 6%;
      width: 53px;
  }
  .skill{
      position: relative;
      right:10px;
      font-size: 12px;
  }
  span{
      position: relative;
      font-size: 10px;
      right:20px
  }
      .experience-details{
          margin: 0;
          padding: 0;
          right:6px;
          bottom: 20px;
          font-size: 10px;
      }
      .experience-description{
          position: relative;
          right:45px
      }
      .experience-location{
          position: relative;
          right: 12px;
      }
      .experience-date{
          position: relative;
          left:20px;
      }
      .experience-type{
          position: relative;
          right: 30px;
          font-size: 15px;
      }
      ul{
          position: relative;
          top: 40px;
          right:40px;
          margin-bottom: 14px;
      }
  }